.QuestInviteCardContainer {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.SubheaderContainer {
  margin-bottom: 26px;
}

.RewardContainer {
  margin: 95px 0;
}

.RewardsList {
  margin-top: 20px;
    p {
      margin: 12px 0;
    }
}

.QuestInviteCoverImage {
  max-width: 100%;
  height: auto;
}

@media(max-width: 1024px) {
  .QuestInviteCardContainer {
    flex-direction: column;
    max-width: none;
  }

  .RewardContainer {
    margin: 24px 0 56px 0;
  }
}

@media(min-width: 1024px) {
  .QuestInviteCardAcceptButton {
    position: absolute !important;
    bottom: 0;
  }
}