.QuestInviteCardContainer {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.QuestInfoContainer {
  position: relative;
  margin: 32px;
}

.SubheaderContainer {
  width: 462px;

  span {
    margin-right: 32px;
    width: 50%;
  }

  margin-bottom: 26px
}

.RewardContainer {
  margin: 95px 0;
}

.RewardsList {
  margin-top: 20px;
    p {
      margin: 12px 0;
    }
}

.QuestInviteCardAcceptButton {
  position: absolute !important;
  bottom: 0;
}

@media(max-width: 1024px) {
  .QuestInviteCardContainer {
    flex-direction: column;
    max-width: none;
  }
  .QuestInviteCardSubheaderContainer {
    display: flex;
    flex-direction: column;
  }

  .QuestInviteCoverImage {
    height: 200px;
  }
}