* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: #282c34;
}

.app {
  padding: 32px;
  height: 100vh;
  width: 100vw;
}

.flex {
  display: flex;
}

.container {
  padding: 16px;
}

.header {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 80px;
  margin-bottom: 80px;
}

.subheader {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.description {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  margin: 24px 0;
}

.infoContainer {
  position: relative;
  margin: 32px;
}

.primaryButton {
  width: 100%;
  font-family: Montserrat;
  font-weight: bold !important;
  background: #26A69A !important;
  color: #ffffff !important;
}

.cardTaskNumber {
  display: flex;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  margin: 40px auto 16px auto;
  border-radius: 50px;
  background: #F44336;
  color: #ffffff;
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 34px;
}

.cardTaskSubheader {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.iconBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
    img {
      margin: 6px;
      width: 24px;
    }
}

.input {
  margin: 32px 0 !important
}

@media(max-width: 1024px) {
  .app {
    padding: 16px;
  }

  .header {
    font-size: 34px;
    line-height: 45px;
    margin-bottom: 16px;
  }

  .infoContainer {
    margin: 16px;
  }
}