.EndSectionFormContainer {
  text-align: center;
  padding-top: 48px;
}

.returnToQuestLog {
  font-family: Montserrat;
  font-weight: bold;
  margin-top: 8px;
  font-size: 16px;
  line-height: 20px;
  color: #26A69A;
}